<app-nav></app-nav>
<div class="container">
    <div class="col-8 text-center mx-auto ">
        <h2>Add Books</h2>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ISBN</span>
            <input type="text" [(ngModel)]="book.isbn"  [ngModelOptions]="{standalone:true}" class="form-control"  placeholder="ISBN" aria-label="isbn"
                aria-describedby="basic-addon1">
        </div>
    
        <div class="input-group mb-3">
            <input type="text" [(ngModel)]="book.title"  [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Title" aria-label="Title"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">Title</span>
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Author</span>
            <input type="text" [(ngModel)]="book.author"  [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Author" aria-label="Author"
                aria-describedby="basic-addon3">
           
        </div>
    
        <div class="input-group mb-3">
            <span class="input-group-text">QTY</span>
            <input type="text" [(ngModel)]="book.qty"  [ngModelOptions]="{standalone:true}" class="form-control" aria-label="Amount (to the nearest dollar)">
           
        </div>
    
        <div class="input-group mb-3">
            <input type="text" [(ngModel)]="book.catagory"  [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Catagory" aria-label="Catagory">
           
        </div>
    
        <div class="input-group">
            <input type="button" value="Add Book" (click)="addBook()" class="btn btn-primary ">
        </div>
    
    </div>
   
</div>