<app-nav></app-nav>
<!-- spinner start-->
<div class="d-flex justify-content-center">
  <div *ngIf="!booklist" class="spinner-grow text-info " role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<!-- spinner end-->

<!-- Table start -->
<div class="container table-responsive">
  <table class="table table-hover table-bordered " *ngIf="booklist">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Catagory</th>
        <th scope="col">QTY</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let book of booklist">
        <td>#BN{{book.id}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.catagory}}</td>
        <td>{{book.qty}}</td>
        <td><button (click)="setSelectedBook(book)" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#deleteModal"><i class="bi bi-trash-fill"></i></button></td>
        <td><button (click)="setSelectedBook(book)" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#updateModal"><i class="bi bi-pencil-square"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Table end -->

<!-- Modal delete-->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Comformation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        if you want delete
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="deleteBook()" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- modal update confirmation -->
<div class="modal fade" id="conformModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Conformation Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- If you want to update "{{selectedBook?.title}}" this book -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveBook()">Confirm
          Update</button>
      </div>
    </div>
  </div>
</div>

<!-- modal update-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">ID:</label>
            <input type="text" value={{selectedBook?.id}} disabled class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">ISBN:</label>
            <input type="text" value={{selectedBook?.isbn}} disabled class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" [(ngModel)]="selectedBook && selectedBook.title" [ngModelOptions]="{standalone:true}"
              class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Author:</label>
            <input type="text" [(ngModel)]="selectedBook && selectedBook.author" [ngModelOptions]="{standalone:true}"
              class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Catagory:</label>
            <input type="text" [(ngModel)]="selectedBook && selectedBook.catagory" [ngModelOptions]="{standalone:true}"
              class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">QTY:</label>
            <input type="text" [(ngModel)]="selectedBook && selectedBook.qty" [ngModelOptions]="{standalone:true}"
              class="form-control" id="recipient-name">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal"
          data-bs-target="#conformModal">Update</button>
      </div>
    </div>
  </div>
</div>
<!-- modal update end-->