<!-- spinner start -->
<div class="d-flex justify-content-center">
    <div *ngIf="!allBurrowers" class="spinner-grow text-info " role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<!-- spinner end -->

<!-- Table start -->
<div class="table-responsive small container">
    <table class="table table-striped table-sm" *ngIf="allBurrowers">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Address1</th>
                <th scope="col">Address2</th>
                <th scope="col">Contact number</th>
                <th scope="col">Email</th>
                <th scope="col">Country</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let burrowers of allBurrowers">
                <td>#BI{{burrowers.burrowId}}</td>
                <td>{{burrowers.burrowerFirstName +" "+ burrowers.burrowerLastName }}</td>
                <td>{{burrowers.address1}}</td>
                <td>{{burrowers.address2}}</td>
                <td>{{burrowers.contactNumber}}</td>
                <td>{{burrowers.email}}</td>
                <td>{{burrowers.country}}</td>
                <td><button (click)="setSelesctedBurrower(burrowers)" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteBurrowModal"><i class="bi bi-trash-fill"></i></button></td>
                <td><button (click)="setSelesctedBurrower(burrowers)" class="btn btn-primary " data-bs-toggle="modal"
                        data-bs-target="#updateBurrowModal"><i class="bi bi-pencil-square"></i></button></td>

            </tr>
        </tbody>
    </table>
</div>
<!-- Table end -->

<!-- modal update-start -->
<div class="modal fade" id="updateBurrowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">ID:</label>
                        <input type="text" value={{selectedBurrower?.burrowId}} disabled class="form-control"
                            id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">First Name:</label>
                        <input type="text" [(ngModel)]="selectedBurrower && selectedBurrower.burrowerFirstName"
                            [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Last Name:</label>
                        <input type="text" [(ngModel)]="selectedBurrower && selectedBurrower.burrowerLastName"
                            [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Address1:</label>
                        <input type="text" [(ngModel)]="selectedBurrower && selectedBurrower.address1"
                            [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Address2:</label>
                        <input type="text" [(ngModel)]="selectedBurrower && selectedBurrower.address2"
                            [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Contact Number:</label>
                        <input type="text" [(ngModel)]="selectedBurrower && selectedBurrower.contactNumber"
                            [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="text" [(ngModel)]="selectedBurrower && selectedBurrower.email"
                            [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Country:</label>
                        <input type="text" [(ngModel)]="selectedBurrower && selectedBurrower.country"
                            [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)=" viewAllBurrowers()" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal"
                    data-bs-target="#conformModal">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- modal update end-->

<!-- modal update confirmation st-->
<div class="modal fade" id="conformModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Conformation Update</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" (click)=" viewAllBurrowers()" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" (click)=" addBurrower()" class="btn btn-primary" data-bs-dismiss="modal">Confirm
                    Update</button>
            </div>
        </div>
    </div>
</div>
<!-- modal update confirmation ed-->


<!-- Modal delete st-->
<div class="modal fade" id="deleteBurrowModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Comformation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                if you want delete this burrower ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="deleteBurrower()" class="btn btn-danger"
                    data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete end-->